@{
	ViewData["Title"] = "Calculator";
}
<div class="card mt-5">
	@Html.TextBox("ScreenInput", null,
	new { @class = "calculator-screen", disabled = "disabled" })

	<div class="calculator-buttons">
		<button type="button" class="btn bg-success" 
				onclick="AddNumber('7')">7</button>
		<button type="button" class="btn bg-success" 
				onclick="AddNumber('8')">8</button>
		<button type="button" class="btn bg-success" 
				onclick="AddNumber('9')">9</button>
		<button type="button" class="btn bg-secondary operation" 
				onclick="AddOperation('/')">/</button>
		<button type="button" class="btn bg-secondary add-button operation" 
				onclick="AddOperation('+')">+</button>


		<button type="button" class="btn bg-success" 
				onclick="AddNumber('4')">4</button>
		<button type="button" class="btn bg-success" 
				onclick="AddNumber('5')">5</button>
		<button type="button" class="btn bg-success"
				onclick="AddNumber('6')">6</button>
		<button type="button" class="btn bg-secondary operation"
				onclick="AddOperation('-')">-</button>


		<button type="button" class="btn bg-success"
				onclick="AddNumber('1')">1</button>
		<button type="button" class="btn bg-success"
				onclick="AddNumber('2')">2</button>
		<button type="button" class="btn bg-success" 
				onclick="AddNumber('3')">3</button>
		<button type="button" class="btn bg-secondary operation" 
				onclick="AddOperation('*')">*</button>
		<button type="button" class="btn bg-primary result-button operation" 
				onclick="GetResult()">=</button>


		<button type="button" class="btn bg-success zero-button" 
				onclick="AddNumber('0')">0</button>
		<button type="button" class="btn bg-success" 
				onclick="AddNumber(',')">,</button>
		<button type="button" class="btn bg-danger" 
				onclick="ClearScreen()">C</button>
	</div>
</div>

@section Scripts
{
	<script type="text/javascript">
        var screenInput = $("#ScreenInput")
		var availableOperations = ['-', '+', '/', '*'];

		$(document).ready(function () {
            screenInput.val('0');
        })

		function AddNumber(number) {
			var val = screenInput.val();
			if (val == '0' && number != ',')
                val = ' ';
            else if (number == ',' &&
                availableOperations.includes(val.slice(-1)))
                number = '0,';

			screenInput.val(val + number);
			setOperationButtonsAvailable(true);
		}
        function AddOperation(operation) {
			screenInput.val(screenInput.val() + operation);
			setOperationButtonsAvailable(false);
		}
		function ClearScreen() {
			screenInput.val('0');
			setOperationButtonsAvailable(true);
		}
		function GetResult() {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("Result","Home")",
                data: {
                    inputVal: screenInput.val()
                },
                success: function (data) {
					if (data.success)
						screenInput.val(data.result);
					else
						alert(data.message);
				},
				error: function (data) {
					alert(data.message);
				},
				dataType: "json"
            });
		}

		function setOperationButtonsAvailable(state) {
			$('.operation').prop('disabled', !state);
		}
	</script>
}